:root {
  --normal-text: #727272;

  --deep-blue: #41b3f4;
  --md-blue: #45b3f2;
  --section-blue: #d4efff;

  --bg-linear-gradient-1: linear-gradient(
    106.01deg,
    #80d1ff 0%,
    #44b2f1 69.58%
  );
  --bg-linear-gradient-2: linear-gradient(
    201.5deg,
    #ffd968 4.52%,
    #fac422 102.63%
  );

  --shadow-card: 19px 19px 47px 0 rgba(161, 176, 207, 0.2062);
}
